STRINGTABLE
LANGUAGE LANG_UZBEK, SUBLANG_DEFAULT
{
0, "Oʻzbekcha"
1, "Battery Mode"
2, "Elektrquvvati sxemasini tanlang:"
3, "&Tanlovlar"
4, "&Bir xil rangli ikonkadan foydalanmoq"
5, "&Tanlovlar"
6, "&Avtokirish"
7, "Oʻzgarmas &ekron yorqinligi"

9, "&Chiqish"
10, "Versiya"
11, "&Battery Mode saytiga kirmoq"
12, "https://bmode.tarcode.ru"
13, "&Elektrquvvati tizimi haqida maʼlumot"

15, "&Elektrquvvati"
16, "&Tizim ikonkasini koʻrsatmoq/berkitmoq"
17, "&Windows mobilligi markazi"

20, "Elektr quvvati &sxemasi indikatorini koʻrsatmoq"
21, "&Koʻrsatilmasin"
22, "&Asosiy monitorda"
23, "&Barcha monitorlarda"

26, "&Berkitilgan elektrquvvati sxemalari"
27, "Berkitilgan sxema"

30, "Yorqinlikni moslashni yoqmoq"
31, "Yorqinlikni moslashni oʻchirmoq"

40, "https://bmode.tarcode.ru/update.uurl"
41, "Yangilash"
42, "&Yangi versiyani avtomatik tekshirmoq"
43, "&Yangi versiyani tekshirib koʻrmoq"
44, "Yangi %0:s versiyasi mavjud\nBatafsil maʼlumot"
45, "%0:s yangi versiyasi\nmuvaffaqiyatli oʻrnatildi!"
46, "Yangilab boʻlmadi\nIlova saytiga oʻtib koʻring"

50, "Monitor yorqinligini &boshqarmoq"
51, "&Monitor konfiguratsiyasini yangilamoq"
52, "Ichki monitor"
53, "&Yorqinlik moslovchisi"
54, "Monitor &nomini koʻrsatmoq"
55, "Yorqinlikni &foizda koʻrsatmoq"
56, "Monitor yorqinligi"
57, "Trey menyusidagi monitor yorqinligini sichqoncha orqali oʻzgaritirishingiz mumkin"

60, "Quvvatni tejash"

70, "&Batareya ikonkasi uslubi"
71, "Windows &7"
72, "Windows &8"
73, "Windows &10"
74, "Windows &8 yorqin"
75, "Windows &10 yorqin"
76, "Windows &XP"
77, "Windows &Vista"

80, "&Rejalovchi"
81, "Interfeys"
82, "Asosiy darcha"
83, "Ikonkalar"

90, "Quvvatlash sxemalariga oʻtish uchun tezkor tugmalar"
91, "Faol emas"
92, "Tezkor tugmalar"
93, "Hozirgi tezkor tugma"

100, "Tanlovlarni faylga saqlamoq"
101, "Fayldan tanlovlarni olmoq"

105, "%0:s tanlovlari"
106, "%0:s tanlovlar faylini saqlamoq"
107, "%0:s tanlovlar faylini import qilmoq"

110, "Reyestr fayllari (*.reg)"
111, "Matnli fayllar (*.txt)"
112, "Barcha fayllar"

120, "&Ikonkalar rangi"
121, "&Elektrquvvati sxemasini koʻrsatmoq"
122, "&Batareya quvvatini koʻrsatmoq"
123, "Hamisha &oq rangda"
124, "Elektrquvvati &sxemasini koʻrsatmoq (teskari tartibda)"
125, "Batareya &quvvatini koʻrsatmoq (teskarisi tartibda)"

130, "Darcha &hoshiyasini oʻchirmoq"
131, "&Mavjud boʻlmagan batareyalar ikonkasini oʻchirib tashlamoq"
132, "Quvvatni &foizda koʻrsatmoq"

134, "&Ishni yakunlamoq yoki tizimdan chiqmoq"
135, "&Darchaning quyi qismidagi havola"
136, "&Monitorni oʻchirmoq"
137, "Ishni &yakunlamoq"
138, "Qayta &ishga tushirmoq"
139, "&Uyqu rejimi"
140, "&Gibernatsiya"
141, "&Chiqmoq"
142, "&Bloklamoq"
143, "Yuklashning &asosiya variantlari"
144, "&Batareya haqida maʼlumoti"
145, "&Uzilgan"

150, "&Til"
151, "Tizim &tili"

160, "Yuqori samaradorlik"
161, "Maks. samaradorlik"
162, "Batareyani yaxshilash"

170, "Elektrquvvati sxemalari &toʻplamini koʻrsatmoq"
171, "&Klassik elektrquvvati sxemasi"
172, "&Windows 10 quvvatlash rejimi"
173, "Elektrquvvati sxemalari"

180, "Quvvat sxemalarini almashtirishda monitor(lar) ning markazida tanlangan quvvat sxemasining katta koʻrsatkichini koʻrsatadi"
181, "Agar noutbukdan batareya olib tashlanganda, batareya ikonkasini oʻchirib tashlanadi"
182, "Trey menyusida ilova belgisi oʻrniga asosiy batareyaning joriy quvvatining raqamli koʻrinishini koʻrsatadi"
183, "Ilova darchasini ancha ensiz va soyasi olib tashlanadi"
184, "\"Klassik\" quvvat sxemalarini ilovaning asosiy darchada koʻrsatadi, masalan, \"Energiyani tejash\" va \"Yuqori samaradorlik\", hatto ushbu sxemalar operatsion tizim tomonidan yashiringan boʻlsa ham"
185, "Ilovaning asosiy darchasida standart Windows 10 batareyasi indikatoridagi tugmachani siljitish orqali mavjud boʻlgan muvozanatli quvvat sxemasining ishlash rejimlarini koʻrsatadi."
186, "Ilovaning asosiy darchasida noutbuk ishlab chiqaruvchilari tomonidan oldindan oʻrnatilgan \"berkitilgan\" quvvat sxemalarini koʻrsatadi"
187, "Quvvat sxemasi tanlovlarini Windows tezkor tugmasi orqali boshqarish imkonini beradi"
188, "Quvvat rejalarini oʻzgartirganda yoki zaryadlovchini ulashda yoki oʻchirishda ekran yorqinligining oʻzgarishini oldini oladi"
189, "Ilovaning eng soʻnggi versiyani rasmiy saytdan avtomatik tekshirib koʻradi.\nIlovaning yangi versiyani oʻrnatish doimo foydalanuvchining oʻzi hal qiladi."

210, "Ilova haqida"
211, "Dasturchi"
212, "Artyom Tarasov"
213, "Battery Mode sayti"
214, "Battery Mode maʼlumotnomasi"
215, "https://bmode.tarcode.ru/help"
216, "Dasturchi bilan bogʻlanmoq"
217, "https://bmode.tarcode.ru/feedback"
218, "Ilovani rivojlantirishga koʻmaklashish"
219, "https://bmode.tarcode.ru/contribute"
220, "Rejalovchi toʻgʻrisida maʼlumotnoma"
221, "https://bmode.tarcode.ru/scheduler-help"
222, "Oʻzgarishlar tarixi"
223, "https://bmode.tarcode.ru/releasenotes"
224, "Litsenzion kelishuv"
225, "Ilova kodi"
226, "https://github.com/tarcode-apps/BatteryMode"

10000, "Jurnallar papkasini ochmoq"
}